[Unit]
Description=aptos-validator container
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/docker start -a  aptos-validator
ExecStop=/usr/bin/docker stop -t2 aptos-validator

[Install]
WantedBy=default.target

