[Unit]
Description=Script Notify Error in Logs
After=network.target

[Service]
Type=simple
User=gneareth
Group=gneareth
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/screen -L -DmS pi /bin/bash -x /home/gneareth/APTOS/bin/aptos-sync-block

[Install]
WantedBy=multi-user.target
